
/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.top-banner {
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 8px;
    background-color: #000000;
    font-size: 16px;
    color: white;
}
.top-banner .material-symbols-outlined {
    font-size: 24px; /* Tamaño de los iconos */
    margin: 0 8px; /* Espaciado alrededor de los iconos */
}
.header-title {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
/* Deportiva Store */
header h1 {
    font-size: 36px;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    margin: 5px 0;
    font-family: 'roboto', sans-serif;
    letter-spacing: 5px;
    text-align: center;
}
header h1:hover {
    transform: scale(1.08); /* Efecto de escala al pasar el ratón */
    transition: .3s;
}
body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #333;
}
.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}
.icon-cart:hover{
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}
/* Header */
header{
    display: flex;
    justify-content: space-between; /* Espacio entre los elementos del header */
    align-items: center; /* Alineación vertical */
    padding: 10px 0 40px 0;
}
.container-icon{
    position: relative;
}
.count-products{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#contador-productos{
    font-size: 12px;
}
.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}
.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}
.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}
.titulo-producto-carrito{
    font-size: 20px;
}
.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}
.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}
.icon-close{
    width: 25px;
    height: 25px;
}
.icon-close:hover{
    stroke: red;
    cursor: pointer;
}
.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}
.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}
.total-pagar{
    font-size: 20px;
    font-weight: 900;
}
.hidden-cart{
    display: none;
}
/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.item{
    border-radius: 10px;
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}
.item figure{
    overflow: hidden;
}
.item:hover img{
    transform: scale(1.1);
}
.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.price{
    font-size: 18px;
    font-weight: 900;
}
.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
.cart-empty{
    padding: 20px;
    text-align: center;
}
.hidden{
    display: none;
}
footer{
    text-align: center;
    padding: 30px;
}
.icon-close:hover,
.icon-add:hover,
.icon-remove:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    color: #000;
}
.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s;
    color: #000;
}
.icon-circle svg {
    width: 16px;
    height: 16px;
    color: #000;
}
.icon-circle:hover {
    background-color: #f0f0f0;
}
.purchase-button:hover {
    background-color: #0056b3;
}
.hidden-cart {
    display: none;
}
.icon-circle:hover {
    background-color: #f0f0f0;
}
.purchase-button {
    display: block;
    width: 100%;
    padding: 12px 20px;
    background-color: #081c32;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}
.purchase-button:hover {
    background-color: #0056b3;
}
.hidden-cart {
    display: none;
}

/* Estilo del select de tallas */
.container-items .info-product .tallas {
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1em;
    appearance: none; /* Oculta el ícono por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3csvg xmlns%3d%27http%3a//www.w3.org/2000/svg%27 viewBox%3d%270 0 4 5%27%3e%3cpath fill%3d%27%23000000%27 d%3d%27M2 0L0 2h4zM0 3l2 2 2-2H0z%27/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px 10px;
}
.container-items .info-product .tallas:focus {
    border-color: #007bff;
    outline: none;
}
/* Estilo para el botón de añadir al carrito */
.btn-add-cart {
    background-color: #007bff; 
    color: white;
    padding: 10px 20px;
    border: none; /* Sin borde */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.btn-add-cart:hover {
    background-color: #007bff; /* Color de fondo al pasar el ratón por encima */
    transform: scale(1.05); /* Aumentar ligeramente el tamaño */
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #333;
}
.inline-fields {
    display: flex;
    justify-content: space-between;
}

.field-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.field-wrapper:last-child {
    margin-right: 0;
}
/* Estilos generales para dispositivos móviles */
@media (max-width: 768px) {
    body {
        padding: 0;
    }
    .top-banner {
        font-size: 14px;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    header h1 {
        font-size: 28px;
    }
    .container-icon {
        margin-top: 10px;
    }
    .container-items {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .container-cart-products {
        width: auto;
        right: auto;
    }
}